<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="ConexionHospital"
        connectionString="Data Source=LOCALHOST;Initial Catalog=HOSPITAL;User ID=SA;Password=MCSD2020"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ColorFondo" value="Yellow"/>
  </appSettings>
</configuration>